@mixin flex-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@mixin flex-start {
    display: flex;
    justify-content: start;
    align-items: center;
}

@mixin flex-columns {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}