@mixin flex-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-center-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

@mixin flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flex-start {
    display: flex;
    justify-content: start;
    align-items: center;
}

@mixin flex-columns {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}